.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.modal-content{
    width: 500px;
    background-color: #fff;
}
.modal-header,.modal-fotter{
    padding: 10px;
}
.modal-title{
    margin: 0;
}
.modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
}
.model-input{
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s ease;
}
.model-input:focus {
    outline: none;
    border-color: #8a4baf;
  }
.model-input::placeholder {
    color: #aaa;
  }
.model-input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .inline-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .align-left {
    text-align: left;
  }
  
  .align-right {
    text-align: right;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .buttonk {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  .primary-button {
    width: 82.76px;
    height: 37.02px;

    background: #744BFC;
    border-radius: 34px;
    margin-bottom: 10px;
  }
  
  .secondary-button {
    width: 82.76px;
    height: 37.02px;
    
    background: #F5F7FF;
    border-radius: 34px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  
  